.Map {
    height: 100vh;
    width: 100%;
}

.Modal {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: papayawhip;
}

.Overlay {
    position: fixed;
    top: 40%;
    left: 42%;
    right: 42%;
    bottom: 10%;
}

.modal-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

.modal-content {
    margin: auto;
    padding: 10px;
}